// ----- ----- ----- ----- //
// -----   Layout    ----- //
// ----- ----- ----- ----- //
$container-breakpoints: (
  medium,
  large
);

// ----- ----- ----- ----- //
// -----   Palette   ----- //
// ----- ----- ----- ----- //
$theme-colors: (
  backdrop: (
    background: ( black, 100 )
  ),
  container: (
    background: ( grey, 900 ),
    border: ( blue, 600 ),
    border-error: ( red, 300 ),
    back-shadow: ( blue, 900 ),
    back-shadow-error: ( red, 900 ),
    foreground: ( white, 100 )
  )
);

// ----- ----- ----- ----- //
// ----- Typography  ----- //
// ----- ----- ----- ----- //
$font-palettes: (
  openSansBoldItallic: (
    font-family: 'Open Sans',
    font-style: italic,
    font-weight: 600
  )
);

$type-sets: (
  mainHeading: (
    color: #f0f,
    font-size: 72px,
    letter-spacing: -0.5px,
    line-height: 72px
  )
);
