$breakpoints: (
  small: 0,
  medium: 768px,
  large: 1024px,
  xlarge: 1200px,
  xxlarge: 1440px,
);

$color-palettes: (
  black: (
    100: #000
  ),
  blue: (
    300: #39C1F9,
    500: #468194,
    600: #33748f,
    900: #0e181b
  ),
  grey: (
    200: #bfc5d0,
    300: #8e999f,
    600: #606168,
    900: #2a2b2e
  ),
  red: (
    100: #f00,
    300: #690900,
    900: #300400
  ),
  white: (
    100: #fff
  )
);

$column-count: 12;
