@import '../utils/maps';
@import '../utils/palette';
@import '../theme.config';
@import '../value.config';

.backdrop {
  height: 100%;
  position: fixed;
  width: 100%;

  &.loaded svg {
    left: 16px;
    opacity: 0.25;
    top: 0;
    width: 150px;

    #slogan {
      opacity: 0;
    }
  }
  svg {
    left: 12.5%;
    opacity: 1;
    position: absolute;
    top: 25%;
    transition: all 0.6s ease-in-out 1s;
    width: 75%;

    #slogan {
      opacity: 1;
      transition: all 0.6s ease-in-out 1.3s;
    }
  }
}
