@import '../utils/maps';
@import '../utils/palette';
@import '../theme.config';
@import '../value.config';

.login {
  color: color(container, foreground);
  background-color: color(container, background);
  border: 2px solid color(container, border);
  border-radius: 16px;
  left: 50%;
  opacity: 0;
  padding: 32px 16px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.6s ease-in-out 1.6s;
  width: 450px;

  &.loaded {
    opacity: 1;
  }

  input {
    display: block;
    font-size: 18px;
    line-height: 32px;
    margin: 16px 0;
    padding: 4px 8px;
    width: 95%;
  }

  button {
    padding: 8px;
    border-radius: 8px;
    float: right;
  }

  div.error {
    color: color(container, border-error);
    display: none;
  }
  &.error div.error {
    display: block;
  }
}
