<!DOCTYPE html>
<html>
<head>
  <title>Plinth Index</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
</head>

<body>
  <a href="http://localhost:24601/">Root</a><br />

  <br />

  <a href="http://localhost:24601/view/index/">Server Rendered Template (this file).</a><br />
  <a href="http://localhost:24601/app/login.html">Static Module File</a><br />

  <br />

  <a href="http://localhost:24601/swagger/">Swagger</a><br />
  <br />
</body>
</html>
