// ----- ----- ----- ----- //
// ----- Containers  ----- //
// ----- ----- ----- ----- //

@mixin content-container() {
  margin-left: auto;
  margin-right: auto;
  max-width: #{map-get($breakpoints, nth($containerBreakpoints, 1))};

  @for $i from 2 through length($containerBreakpoints) {
    @media screen and (min-width: #{map-get($breakpoints, nth($containerBreakpoints, $i))}) {
      max-width: #{map-get($breakpoints, nth($containerBreakpoints, $i))};
    }
  }
}